.social-login
    button.social-login__github
        i.fab.fa-github
        span  | Continue With Github
    button.social-login__facebook
        i.fab.fa-facebook
        span  | Continue With Facebook